.main {
    background-color: #B3B6B7;
    max-width: 1000px;
    min-width: 300px;
    min-height: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    &__header {
        color: #6F1A07;
        margin: 60px 0;
      }
    &__picture {
        max-width: 100%;  
    }
    &__article {
        background: #F7F3E3;
        width: 400px;
        height: 300px;
        border: 3px solid #6F1A07;
        border-radius: 8px;
        margin: 30px;
        text-align: left;
        padding: 8px;
      }
      &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
}


@media screen and (min-width: 767px) {

  .main {
    background-color: #B3B6B7;
    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    &__header {
        color: #6F1A07;
    }
    &__picture {
        height: 300px;
    }
    &__article {
        background: #F7F3E3;
        width: 400px;
        height: 300px;
        border: 3px solid #6F1A07;
        border-radius: 8px;
        margin: 30px;
        text-align: left;
        padding: 8px;
      }
    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  
  }

}