@import "~normalize.css";

@import "modules/navigation.scss";
@import "modules/mod-main.scss";
@import "modules/form.scss";


body {
    background: #a2ecb8;
    margin: 0;
  }
  
  .header {
    background:  #F7F3E3;
    min-height: 60px;
    width: 100%;
  }
  

  h3::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 2px;
  }
  
  .hamburger {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
  }
  
  
  @media screen and (min-width: 767px) {
  
  body {
    background: #a2ecb8;
  }
  
  .header {

  }
  
  .hamburger {
    display:none;
  }

  h3::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .footer {
    width: 1000px;
    font-weight: bold;
  }
  

  }